version: '3'
services:
  geoserver:
    build:
      context: .
      args:
        - GS_VERSION=2.27.0
    ports:
      - 8080:8080
    environment:
      - EXTRA_JAVA_OPTS=-Xms512m -Xmx1g -Djava.libary.path=/usr/lib/jni/:/usr/lib/grass78/lib/
      - INSTALL_EXTENSIONS=true
      - STABLE_EXTENSIONS=wps,csw # this will install wps and csw extensions on startup
      - CORS_ENABLED=true
      - CORS_ALLOWED_ORIGINS=*
      - CORS_ALLOWED_METHODS=GET,POST,PUT,DELETE,HEAD,OPTIONS
      - CORS_ALLOWED_HEADERS=*
    volumes:
      - ./additional_libs:/opt/additional_libs:Z # by mounting this we can install libs from host on startup
      - ./additional_fonts:/opt/additional_fonts:Z # by mounting this we can install fonts from host on startup
      - ./geoserver_data/:/opt/geoserver_data:Z
