# https://github.com/marketplace/actions/build-and-push-docker-images
# https://github.com/marketplace/actions/docker-metadata-action
# type=ref,event=tag # on push tag, tag = 1.2.3
# type=sha # tag = sha-ad132f5
# latest=auto # takes care of tag latest

name: Docker build and push

on:
  push:
    branches: ['v*.*.*']

jobs:
  docker:
    name: docker build and push
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Create image and tag names
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: terrestris/geoserver
          tags: |
            type=ref,event=branch
          flavor: |
            latest=auto
      - name: Generate docker tag
        run: echo '::set-output name=docker-tag::$(echo ${{ steps.meta.outputs.tags }} | sed "s|^terrestris/geoserver:v|terrestris/geoserver:|")'
        id: generate-docker-tag
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN  }}
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: ${{ steps.generate-docker-tag.outputs.docker-tag }}
          context: .
          file: Dockerfile
